@media (min-width: 426px) {
    main {
        background: url(../images/backgrounds/background-desktop.png) no-repeat;
        width: 358px;
        height: 540px;

        min-height: 812px;

        margin-top: 6.8rem;
    }

    ul {
        margin-top: 2em;
    }

    .container {
        margin-top: 0em;
    }

    .cracha {
        top: 0.6rem;
        position: relative;

        display: inline;
    }

    .cracha span .faixa {
        position: absolute;
        z-index: 1;

        left: 0.5rem;
        top: -9.35rem;

        display: inline;
    }

    .cracha > img {
        display: inline;
    }

    .gradientes {
        position: relative;
        display: block;
    }

    .pink {
        position: absolute;
        margin-top: 0;
        top: -5rem;
        left: -50rem;
        display: block;
    }

    .yellow {
        position: absolute;
        margin-top: 0;
        top: -5rem;
        right: -50rem;
        display: block;
    }
}
